<% include partials/header %>
<div class="container">
   <div class="jumbotron">
<h1>Welcome to PhotoGram</h1>
<p>
<button class="btn btn-lg btn-default btn-block><a href="/campgrounds">Check Out For all the photo's</a></button>
</p>
</div>
</div>
<% include partials/footer %>
