<% include partials/header %>
<div class="container" style="text-align:center">
<div class="jumbotron">
<h1>Register Here</h1>
<h4>Enter here to have a new blast of exprience in the history of pictures</h4>

</div>
<form action="/register" method="POST">
      <input class="form-control" type="text" name="username" placeholder="Enter Your Username"><br/>
      <input class="form-control" type="password" name="password" placeholder="Enter Your Password"><br/>
      <button class="btn btn-lg  btn-default btn-block">Register</button>
</form>
</div>
<% include partials/footer %>
